#search-results, #no-results, #error-display {
  display: none;
  margin-top: 15px;
}

body {
  padding: 10px;
}

.practice {
  margin-bottom: 10px;
}

.practice-name {
  font-style: italic;
}

.doctor-name {
  color: blue;
}
